body{
    font-family:'Roboto', sans-serif;
    color: var(--navyblue-headlines);
} 
h1,h2,h3,h4,h5,h6,p{

    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
/* _________прибрати крапки та підкресення______*/
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/*__________________ заховати заголовок_______________*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*  ___________________задати змінну________________________ */
:root{
    --che-t:#757575;
    --send-butt: #FFFFFF;
    --check-text:#404BBF;
    --modal-text: #8E8F99;
    --modal-f: #2E2F42;
    --clouse-x: #d1dcd9;
    --modal-clouse:#E7E9FC;
    --modal: #FCFCFC;
--slate:#525366;
--green: #31D0AA;    
--iconca:#8E8F99;
--ocean:#404BBF;
--soc: #5c5c6d;
--navyblue-headlines: #2E2F42;
--title:#FFFFFF;
--iris:#4D5AE5;
--layout-paragrph:#434455;
--paragraph-color-laver:#E7E9FC;
--cloud:#F4F4FD;
--portfolio-button:#404BBF;
--border:#E7E9FC;
--set:24px;
--fill: #8e8f99


}
/* HEADER */
.header-container{
    display: flex;
    border-bottom: 2px solid var(--cloud);
}
.header-address-list {
    display: flex;
}
.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header-list {
    display: flex;
    gap: 40px;
}
.header-logo{
    margin-right: 76px;
}
.header-logo {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--iris);
padding-top: 24px;
padding-bottom: 24px;
}
.colortext-logo {
color: var(--navyblue-headlines);
}
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--navyblue-headlines);
display: block;
padding-top: 24px;
padding-bottom: 24px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding-top: 24px;
padding-bottom: 24px;
}
.current{
    color: var(--ocean);
    position: relative;
}
.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
}
.header-link:hover,
.header-link:focus{
    color: var(--iris);
}
/* --------studio-------- */
.studio-suptitle{
    color:var(--navyblue-headlines);
}
.studio-title{
color:var(--navyblue-headlines);
}
.portfolio-suptitle{
color: var(--navyblue-headlines);
}
.portfolio-title{
color: var(--navyblue-headlines);
}
.header-address-list{
padding-top: 24px;
padding-bottom: 24px;
}
.header-gmail {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--layout-paragrph);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-gmail:hover,
.header-gmail:focus{
    color: var(--iris);
}
.header-tell{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--layout-paragrph);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tell:hover,
.header-tell:focus{
    color: var(--iris);
}
/* _____________Section 1 - hero */
.hero{
    background-image: url(../images/hero\ image-min.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
}
/* _____________Section 1 - hero */
.hero{
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.4 ),
    rgba(46, 47, 66, 0.4 )),
    url(../images/hero\ image\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
padding-bottom: 188px;
margin: 0 auto;
border: none;
}
.hero-text {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--title);
margin-bottom: 48px;
}
.hero-button {
    padding: 16px 32px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:var(--iris);
    color:var(--title);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus{
background-color:var(--ocean);
}
/*_________________ Section 2 _________________*/
.advant-link {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cloud);
border-radius: 4px;
}
.work-list{
    display: flex;
    gap: 24px;
    margin-left: calc(-1 * var(--set));
}
.work-item{
    flex-basis: calc(100% /3 - var(--set) );
    margin-left: var(--set);
}
.work-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--navyblue-headlines);
    margin-bottom: 8px;
}
.parag {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--layout-paragrph);
}
/*_______________ Section 3_______________________ */
.ph-cal{
    flex-basis: calc(100% / 3 - var(--set));
}
.photo-list{
    display: flex;
    gap:  var(--set);
    padding: 0;
}
.photo-text {
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navyblue-headlines);
margin-bottom: 72px;
}
/* ______________________Section 4 _____________________*/
/* щоб не ламалася сітка*/

.section-oure{
    padding-top: 120px;
    padding-bottom: 120px;
    background:var(--cloud);
}
.resume-itm{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    flex-basis: calc(100% / 3 - var(--set));
}
.resume-list{
    display: flex;
    gap: var(--set);
}
.content-resume {
padding-right: 16px;
padding-left: 16px;
padding-top: 32px;
padding-bottom: 32px;
background:var(--title);
border-radius: 0px 0px 4px 4px;
}
.title-our-time {
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navyblue-headlines);
margin-bottom: 72px;
}
.resume {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--navyblue-headlines);
margin-bottom: 8px;
}
.paragraph-resume {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--layout-paragrph);
margin-bottom: 8px;
}
/*______________________ work SVG*/
.resume-soc-list {
    display: flex;
    gap: 24px;
}
.resume-soc-item {
    width: 40px;
    height: 40px;
}
.resume-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.resume-soc-link:is(:hover,:focus) {
    background-color: var(--ocean);
}

/*______________________ секція 5 */
.customers-text{
font-size: 36px;
line-height: 1.1;
text-align: center;
margin-bottom: 72px;
}
.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
    height: 88px;
}
.customers-link {
    width: 168px;
    height: 88px;
    border: 1px solid rgb(153, 166, 166);
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content: center;
    color: var(--iconca);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:is(:hover,:focus) {
    border-color: var(--ocean);
    color: var(--ocean);
}
.customers-icon{
    fill:currentColor;
}

.customers-icon:is(:hover,:focus) {
    fill:var(--ocean) ;
}

/*______________________ footer */
.footer {
background-color:var(--layout-paragrph);
padding-top: 100px;
padding-bottom: 100px;
}
.footer-container{
    display: flex;
    align-items: baseline;
    justify-content: left;
}
.colortext {
color: var(--cloud);
margin-right: 120px;
}
.footer-parag {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--paragraph-color-laver);
margin-top: 16px;
display: block;
}
.soc{
    margin-right: 80px;
    margin-left: 120px;
}
.social{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    color: var(--title);
    margin-bottom: 16px;
}
.footer-soc-link{
    width: 100%;
    height: 100%;
    background-color:var(--slate);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-list {
    display: flex;
    gap: 24px;
}
.footer-soc-item {
    width: 40px;
    height: 40px;
}
.footer-soc-link:is(:hover,:focus) {
    background-color: var(--green);
}
/*____________________________  __________________________________*/

.imput-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title);
}

.input-footer{
    margin-left: auto;
    margin-right: 80px;
    display: flex;
    gap: 24px;
}
.online-footer{
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;
    padding-left: 16px;
    font-size: 12px;
    background-color: transparent;
    margin-top: 16px;
}
.online-footer::placeholder{
    color: rgba(255, 255, 255, 0.6);;
}
.button-input-footer{
    min-width: 165px;
height: 40px;
font-size: 16px;
color:  var(--title);
background-color: var(--iris);
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-top: auto;
}
.subscribe-text {
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:var(--send-butt);
padding-left: 24px;
gap: 16px;
}
/*____________________________ portfolio __________________________________*/
.button-list{
    display: flex;
    justify-content: center;
    gap: var(--set);
}
.button-list-text {
    padding: 12px 24px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:var(--border);
    color:var(--iris);
    cursor: pointer;
    background:var(--cloud);
    border: 1px solid var(--border);
    border-radius: 4px;
    flex: none;
    flex-grow: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list-text:hover,
.button-list-text:focus{
    border-color: var(--iris);
    background-color: var(--iris);
    color: var(--cloud);
    box-shadow: 0px 2px 0px rgb(188, 186, 185);
}
.gallery{
    flex-basis: calc((100% - 2 * 24px) / 3);
}
.gallery:hover .portfolio-top-text{
    transform: translateY(0%);
}
.portfolio-top-fon{
    position: relative;
    overflow: hidden;
}
.portfolio-top-text{
    position: absolute;
    top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--cloud);
background: var(--iris);
background-blend-mode: soft-light;
mix-blend-mode: normal;
padding: 40px;
height: 100%;
transform: translateY(100%);
transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
overflow: auto;
}
.section-gallery{
    display: flex;
    gap: var(--set);
}
.section-gallery{
    margin-top: 72px;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.gallery-link:is(:hover,:focus){
    background-color: var(--title) ;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.linkk{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    display: block;
    text-decoration: none;
}
.title-port{
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    background:var(--title);
    border: 1px solid var(--border);
    border-top: none;
}
.photo-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--navyblue-headlines);
margin-bottom: 8px;
}
.pragraph-title {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--layout-paragrph);
margin-bottom: 8px;
}
/*____________________________ modal __________________________________*/
.back-modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 50%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    width: 408px;
    height: 576px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    background-color:var(--modal);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.back-modal.is-hidden.modal{
    transform: translate(-50%,-50%) scale(0);
}
.modal-clous{
    width: 24px;
    height: 24px;
    background:var(--modal-clouse);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-color: var(--clouse-x);
    display: block;
    margin-left: auto;
    cursor: pointer;
    margin-bottom: 24px;
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-clous:hover,
.modal-clous:focus{
background-color:var(--ocean);
}
.modal-clous:is(:hover,:focus) {
    fill:var(--cloud) ;
}
.modal-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--modal-f);
margin-bottom: 16px;
}
.inpun-wrap{
    position: relative;
}
.modal-input::placeholder .modal-comment::placeholder{
    color: var(--iris)
}
.modal-input-icon{
    position: absolute;
    left: 16px;
    top: 40%;
    transform:translateY(-40%);
}
.modal-input{
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    font-size: 12px;
    padding-left: 35px;
    margin-bottom: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-comment:focus{
    border-color: var(--iris);
}
.modal-input:focus + .modal-input-icon{
    fill: var(--iris);
}
.modal-imput-text{
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: var(--modal-text);
    margin-bottom: 5px;
    display: block;
    }
.modal-comment{
width: 100%;
height: 120px;
left: 0px;
top: 216px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 10px;
resize: none;
outline: transparent;
margin-bottom: 16px;
}
.check-text{
    font-size: 14px;
    font-weight: 600px;
    color:var(--check-text);
    display: flex;
    }
.check-text::before{
content: '';
width: 16px;
height: 16px;
border: 1.25px solid var(--modal-f);
border-radius: 2px;
margin-right: 8px;
margin-right: 8px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-chek:checked +  .check-text::before{
    background-color:var(--ocean);
    border: none;
    background-image: url(../images/icons.svg/check.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.text-chec{
font-size: 12px;
line-height: 1.2;
letter-spacing: 0.04em;
color: var(--che-t);
}
.text-privat{
    font-size: 12px;
line-height: 1.2;
letter-spacing: 0.04em;
text-decoration-line: underline;
color: var(--iris);
margin-left: 2px;
margin-bottom: 18px;
}
.button-send{
font-size: 16px;
line-height: 1.5;
color: var(--send-butt);
    width: 169px;
    height: 56px;
background-color: var(--iris);
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
display: block;
margin: 0 auto;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-send:hover,
.button-send:focus{
background-color:var(--ocean);
}

